@import "../../node_modules/material-ui-sass/material-ui";
@import "../../node_modules/material-ui-sass/material-ui/_html";
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500);

//Your custom app styles
.example-page {
  margin: auto;
  padding: 50px;
  width: 80%;
  text-align: center;
}

#car-filters{
  width: 30%;
  text-align: left;
  float: left;
  padding: 30px;

}
#car-list {
  margin-left: 20px;
  float: left;
  display: table;
  label {
    display: block;
  }

  .card{
    margin-bottom: 10px;
  }
}
